@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0, 0%, 35%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --header: 236, 81%, 96%;
    --header-foreground: 0, 0%, 31%;

    --primary: 284, 92%, 37%;
    --primary-foreground: 284, 92%, 97%;

    --secondary: 55, 89%, 64%;
    --secondary-foreground: 0, 0%, 0%;

    --accent: 284, 92%, 37%;
    --accent-foreground: 284, 92%, 97%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  /* Currently dark has no effect */

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --header: 236, 81%, 96%;
    --header-foreground: 0, 0%, 31%;

    --primary: 284, 92%, 37%;
    --primary-foreground: 284, 92%, 97%;

    --secondary: 238, 81%, 65%;
    --secondary-foreground: 234, 97%, 100%;

    --accent: 353, 91%, 71%;
    --accent-foreground: 353, 93%, 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.gradient-button-0 {
  @apply bg-gradient-to-r from-[#FDA7FF] via-[#5C62ED] to-[#8908B6];
}

.gradient-button-1 {
  @apply bg-gradient-to-r from-[#dd0ce1] via-[#1d22aa] to-[#8e29b2];
}
